header {
  text-align: center;
  background-color: rgb(219, 205, 11);
}

.grid1 {
  display: grid;
  grid-template-columns: 30% 70%;
  border: 2px solid rgb(0, 0, 0);
}
.grid2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 2px solid rgb(0, 0, 0);
}
.grid3 {
  border: 2px solid rgb(0, 0, 0);
}
.grid4 {
  display: grid;
  border: 2px solid rgb(0, 0, 0);
}
.grid5 {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  border: 2px solid rgb(0, 0, 0);
}
.grid3 div {
  display: grid;
  grid-template-columns: 50%;
}

.grid3 div:hover {
  border: 1px solid rgb(139, 5, 5);
}

div {
  background: rgb(111, 144, 177);
  padding: 1em;
}
.foto {
  width: 300px;
}
